<section class="hero" id="home">
    <div class="hero-left">
        <p class="tag">We build products that help businesses manage</p>
        <h1>Empowering <strong>startups</strong><br>and <span class="highlight">freelancers</span></h1>
        <p class="desc">Experienced Angular Developer with 2+ years building efficient, scalable apps. I focus on clean
            code and great UI.</p>
        <a class="learn-more" href="#projects">Learn More</a>
    </div>
    <div class="hero-right">
        <img src="assets/saqib-photo.jpg" style="height: 330px;" alt="Saqib" class="profile-pic" />
    </div>
</section>